.main_intro{
    background-color: #212529;
    color: white;
    padding-top: 140px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.main_title{
    text-align: center;
}
.sous_title{
    text-align: center;
}
.img_pres{
    text-align: center;
    padding-top: 13%;
}
.main_suite{
    margin-top: 100px;
}
.titre_main_suite{
    text-align: center;
}
.text_pres{
    width: 80%;
    margin: auto;
    text-align: justify;
    padding-bottom: 100px;
}
.skill_section{
    background-color: #212529;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.card{
    width: 30%;
    margin-top: 50px;
}
.card_design{
    text-align: center;
}
.text_maquette{
    margin-bottom: 0;
}

.card_front{
    text-align: center;
}
.text_front{
    margin-bottom: 0;
}
.card_back{
    text-align: center;
}
.text_back{
    margin-bottom: 0;
}
.title_parcours{
    text-align: center;
    margin-top: 50px;
}
.mon_parcours{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul{
    margin-top: 50px;
}
li{
    /* text-align: center; */
    list-style-type: none;
    margin-bottom: 30px;
}
.ocr{
    margin-bottom: 0;
}
.lienP7{
    margin-bottom: 0;
    
}
.lienP6{
    margin-bottom: 30px;
}
.lien{
    text-decoration: none;
}
.p6{
    text-decoration: none;
}
.p7{
    text-decoration: none;
}
footer{
    color: white;
    background-color: #212529;
}
.foot_reseau{
    text-align: center;
}
.img_linkedin{
    width: 150px;
}
.img_git{
    width: 90px;
}
@media screen and (max-width: 992px) {
    .skill_section{
        flex-direction: column;
        align-items: center;
    }
    .img_icon{
        width: 350px;
    }
    .card{
        width: 80%;
    }
}